aside
  b-media.my-auto(vertical-align="center")
    template(#aside)
      b-img(thumbnail :src="investment.companyLogo" width="80")
    b-row.form-inline
      b-col
        h2.mb-0.py-4.align-middle {{ investment.companyNickname }}
      b-col(cols="3").text-right
        b-button(
          variant="outline-secondary"
          v-b-toggle="`investment-${companyId}`"
          size="sm"
        )
          span.when-opened Collapse
          span.when-closed Expand
  b-collapse(:id="`investment-${companyId}`")
    b-row
      b-col
        h4.mb-0.py-4 The Offering
    b-row
      b-col
        h5 Raised:
        h6 $9,650.00
      b-col
        h5 Goal:
        h6 $10,000.00
      b-col
        h5 Status:
        h6 8 days left!
    b-row
      b-col
        h4.mb-0.py-4 Your Investment
    b-row
      b-col
        h5 Amount Invested:
        h6 {{ investment.amount }}
      b-col
        h5 Ownership (units):
        h6 {{ investment.amount / investment.companyUnitPrice }}
      b-col
        h5 Ownership (%):
        h6 {{ (investment.amount / investment.companyPricePerShare).toFixed(4) }}
    b-row.py-4
      b-col
        b-button(size="lg") View Agreement
