section
  hr
  h4.pb-3 Password Reset
  b-form
    b-form-row
      b-col(md="6")
        b-form-group.text-left(
          label="Type your old password below:"
          label-for="password-old"
        )
          b-form-input#password-old(
            type="password"
            v-model="passwordOld"
            trim
          )
      b-col(md="6")
        b-form-group.text-left(
          label="New Password"
          label-for="password-new"
        )
          b-form-input#password-new(
            type="password"
            v-model="passwordNew"
            trim
          )
    b-form-row
      b-col
        b-button(variant="success") Save Changes
